# Google Places API
GOOGLE_PLACES_API_KEY=your_google_places_api_key_here

# Cloudflare Turnstile
TURNSTILE_SECRET_KEY=your_turnstile_secret_key_here

# Brevo SMTP
BREVO_SMTP_LOGIN=your_brevo_smtp_login_here
BREVO_SMTP_KEY=your_brevo_smtp_key_here
BREVO_SENDER_EMAIL=your_verified_sender_email@example.com

# Website Form Recipient
FORM_RECIPIENT_EMAIL=recipient@example.com